@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <h1 class="display-4">Welcome to DeliveryCart</h1>
    <p>_________________________________________________________________________________________</p>
    <br>

    <div class="indexbody">

    <h2>About DeliveryCart:</h2>
    <p>DeliveryCart will allow its shoppers to order groceries for local stores, and will allow drivers to select orders made by customers. DeliveryCart was made to allow shoppers to shop from the comfort of their homes without the need to go to the physical store. This embodies DeliveryCart's business model. Thank you for choosing DeliveryCart!</p>
    <p>_________________________________________________________________________________________</p>
    <br>

    <h2>Important Notice: </h2>
    <br>

    <p>This web application is currently still under development. Under no means is this supposed to be a finished product, as we are continuing to
        work to improve this project. Some features of the program are not working or are subject to change in the future. With that being said, we still hope you enjoy this prototype, and please give us feedback on how we can improve this application.
    </p>

    <p>For now, please visit this link <a href="/DeliveryPersons">here</a> or click on the "Delivery People" link in the navigation menu to explore this program further!</p>

    @* <h2>Shopper/Delivery Resources: </h2>
    <br>

    <h3>Shopper Login: </h3>
    <br>

    <p>If you have already made an account with DeliveryCart please login in <a href="/shopperLogin" >here</a>. However, if you have not made an account, please navigate to the sign up page or click <a href="/shopperSignUp"> here. </a></p>
    <br>

    <h3> Delivery Login: </h3>
    <p>If you have already made an account with DeliveryCart please login in <a href="/deliveryLogin" >here</a>. However, if you have not made an account, please navigate to the sign up page or click <a href="/deliverySignUp"> here. </a></p>
    <p>_________________________________________________________________________________________</p>

    <br> *@
    </div>
